
/*Custom font*/
@font-face {
	font-family: 'RaleWay';
	src: url('fonts/raleway_thin-webfont.woff') format('woff'),
		/* Pretty Modern Browsers */
		url('fonts/raleway_thin-webfont.ttf') format('tff');
	/* Safari, Android, iOS */
}


/* GLobal Style */
html {
	background-color: #869960;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 120%;
	font-weight: 300;
}

.container {
	max-width: 940px;
	margin: 0 auto;
	background-color: #FFF;
	padding-top: 1rem;
	padding-bottom: 1em;
	padding-left: 2.5em;
	padding-right: 2.5em;
}

@media screen and (max-width: 480px) {
	body {
		font-size: 100%;
	}

	.container {
		padding-left: .5em;
		padding-right: .5em;
	}

	.header__title {
		font-size: 125%;
	}

	.banner__image {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	
	.main-area {
		padding: 0.5em;
	}

	.sidebar {
		padding: 0.em;
	}
	
}


.text-style {
	text-indent: 1.8em;
	line-height: 1.7;
}

/* Header Style */
.header {
	height: 300px;
	width: 100%;
	padding-top: 1.2rem;
	color: #fff;
	font-weight: 400;
	background: #fff url(../images/header.png) right center no-repeat;
}

.header__banner {
	display: block;
	width: 100%;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1.2rem;
	line-height: 80px;
	text-align: center;
	font-weight: normal;
	font-size: 165%;
	font-weight: 100;
	color: #e5e9dc;
	background-color: rgba(0, 0, 0, 0.5);
}


.header__title {
	font-weight: normal;
	font-size: 165%;
	font-weight: 100;
}




/* Content Style */
.content-area {
	/* display: flex; */
	border-top: 3px solid #e5e9dc;
	border-bottom: 3px solid #e5e9dc;
}

/* Main-Area Style */
.main-area {
	width: 100%;
	padding: 1.2em;
}

/*Banner Style*/
.banner {
	position: relative;
}

.banner__image {
	width: 100%;
	display: block;
	margin: 0 auto;
}

.banner__description {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0px;
	padding: 0 20px;
	line-height: 50px;
	margin-left: -100px;
	margin-top: -25px;
	text-align: center;
	font-weight: normal;
	font-size: 165%;
	font-weight: 100;
	color: #e5e9dc;
	background-color: rgba(0, 0, 0, 0.5);
}

/* SideBar Style */
.sidebar {
	width: 100%;
	height: 100%;
	background-color: #e5e9dc;
	padding: 1.2em;
	/* font-size: 90%; */
}


/* Footer */
.footer {
	text-align: center;
	font-size: 85%;
	color: #999;
	padding-bottom: 1.2rem;
	padding-top: 1.2rem;
}
